//Start Import Style
@import 'common/mixin';
//@import 'common/grid';
@import '../fonts/fontface';
//End Import Style
$titleColor: #4a5c66;
$subTitleColor: #ff5a00;

%itemDescription {

  position: absolute;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  //top: 0;
  top: -100%;
  //opacity: 0.95;
  left: 0;
  width: 100%;
  height: 100%;
  @extend %d-flex;
  background: url("../images/bg-team.png") no-repeat;
  background-size: cover;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  line-height: 30px;
  padding: 0 20px;
  @extend %transition;
  flex-wrap: wrap;

  ul {
    padding: 0;
    margin: 0;
    @extend %d-flex;
    list-style: none;

    li {
      padding: 0 10px;

      a {
        display: block;

        img {
          height: 30px;
          width: auto;
        }
      }
    }
  }

  @include mobile {
    font-size: 14px;
    line-height: 22px;
    ul {

      li {
        a {
          img {
            height: 20px;
          }
        }
      }
    }
  }

}

%itemTop {
  width: 100%;
  height: 360px;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;

  img {
    @extend %imgdev;
    filter: grayscale(100%);
  }

  //Responsive
  @include tablet {
    height: 300px;
  }
  @include mobile {
    height: 250px;
  }
}

%itemTitle {
  color: $titleColor;
  font-family: "Marine-Bold";
  text-transform: capitalize;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 15px;
  @include mobile {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

%itemSubTitle {
  font-size: 19px;
  line-height: 1.2;
  color: $subTitleColor;
  @include mobile {
    font-size: 14px;
  }
}

%itemSubHeader {
  text-align: center;
  margin-bottom: 50px;
  @extend %d-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 23px;

  span {
    color: $titleColor;
    font-family: "Marine-Bold";
    margin-right: 15px;
  }

  .selectCustom-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }

  .selectCustom {
    text-align: left;
    cursor: pointer;
    display: flex;
    position: relative;
    font-size: 23px;
    color: $titleColor;
    width: 100%;
    max-width: 260px;
    height: 70px;
    @include mobile {
      //font-size: 16px;
      //width: 100%;
      max-width: 100%;
    }
  }

  .selectCustom-styled {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 0 15px;
    @extend %transition;

    &:after {
      content: "";
      width: 15px;
      height: 10px;
      background: url("../images/icons/iconDown.png") no-repeat;
      background-size: 15px auto;
      position: absolute;
      top: 50%;
      transform: translateY(-5px);
      right: 15px;
    }


    &:active, &.active {
      background-color: #fff;

      &:after {
        transform: rotate(180deg) translateY(-5%);
        transform-origin: 7px 0;
      }
    }
  }

  .selectCustom-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;

    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      border-top: 1px solid darken(#fff, 10);
      @include transition(all 0.15s ease-in);

      &:hover {
        background: #f7f7f7;
      }

      &[rel="hide"] {
        display: none;
      }
    }
  }

  @include mobile {
    //font-size: 16px;
    span {
      width: 100%;
      margin-bottom: 15px;
    }
    select {
      width: 100%;
    }
  }
}

%itemBottom {
  padding: 40px 0;
  text-align: center;
}


body {
  font-family: "Marine";
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  line-height: 1.3;
  box-sizing: border-box;
}

.section {
  &__template {
    width: 100%;
    margin: 100px auto;
    overflow: hidden;
    padding: 0 30px;
    box-sizing: border-box;
    //Responsive
    @include mobile {
      padding: 0 15px;
    }

    &--header {
      text-align: center;
      font-size: 40px;
      color: $titleColor;
      font-weight: bold;
      margin-bottom: 40px;
      font-family: "Marine-Bold";

      h2, h3, h4, span {
        font-size: 40px;
        margin: 0;
        @include tablet {
          font-size: 36px;
        }
        @include mobile {
          font-size: 30px;
        }
      }

      @include tablet {
        font-size: 36px;
      }
      @include mobile {
        font-size: 30px;
      }
    }

    &__listClient {

      max-width: 1470px;

      box-sizing: border-box;

      .item__slide {
        width: 100%;
        height: 100px;
        position: relative;
        display: block;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: 60%;
          max-height: 60%;
          transform: translate(-50%, -50%);
        }

        @include mobile {
          height: 80px;
        }
      }

      .swiper-slide {
        filter: grayscale(1) opacity(0.6);

        &.swiper-slide-prev, &.swiper-slide-next, &.swiper-slide-active {
          filter: grayscale(0) opacity(1);
        }
      }

      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev, .swiper-button-next {
        top: 50%;
        width: 20px;
        height: 20px;
        margin: 0;
        transform: translateY(-50%);
        filter: grayscale(100%);

        &:focus {
          outline: none;
        }
      }

      .section__template--header {
        text-align: center;
      }

      .section__template--content {
        padding: 0 30px;
        position: relative;

        .swiper-container {
          background: #fff;
          @include mobile {
            background: transparent;
          }
        }

      }


    }

    &__listPersonSlide {

      //padding: 0 50px;
      max-width: 1600px;

      .item__slide {
        &--top {
          @extend %itemTop;
        }

        &--bottom {
          @extend %itemBottom;
        }

        &--title {
          @extend %itemTitle;
        }

        &--subtitle {
          @extend %itemSubTitle;
        }

        &--description {
          @extend %itemDescription
        }

        &:hover {
          .item__slide--description {
            opacity: 0.95;
            top: 0;
          }
        }

      }

      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev, .swiper-button-next {
        top: 40%;
        width: 20px;
        height: 20px;
        margin: 0;
        transform: translateY(-40%);
        filter: grayscale(100%);

        &:focus {
          outline: none;
        }
      }

      .paginationPerson {
        bottom: 0;

        .swiper-pagination-bullet {
          width: 18px;
          height: 18px;

          &:focus {
            outline: none;
          }
        }

        .swiper-pagination-bullet-active {
          background: $subTitleColor;
        }
      }


      .section__template--content {
        padding: 0 50px;
        position: relative;
        box-sizing: border-box;

        .swiper-container {
          padding: 0 0 50px 0;
        }

      }
    }

    &__listPersonGrid {

      max-width: 1600px;

      .gridPerson {
        @extend %d-flex;
        flex-wrap: wrap;
        margin: 0 -10px;
      }

      .item__grid {
        @include flex-width(25%);
        @include tabletLarge {
          @include flex-width(33.33%)
        }
        @include tablet {
          @include flex-width(50%)
        }
        @include mobile {
          @include flex-width(100%)
        }

        &--container {
          padding: 0 10px 20px 10px;
        }

        &--top {
          @extend %itemTop;
        }

        &--bottom {
          @extend %itemBottom;
        }

        &--title {
          @extend %itemTitle;
        }

        &--subtitle {
          @extend %itemSubTitle;
        }

        &--description {
          @extend %itemDescription
        }

        &:hover {
          .item__grid--description {
            opacity: 0.95;
            top: 0;
          }
        }

      }

      .section__template--subHeader {
        @extend %itemSubHeader;
      }

      .section__template--content {
        padding: 0 50px;
        position: relative;
        box-sizing: border-box;
      }
    }

    &__listTestimonials {
      max-width: 1400px;
      box-sizing: border-box;

      .slideTestimonial {
        padding: 100px 0;
      }

      .item__slide {
        position: relative;
        display: block;
        background: #fff;
        border-radius: 0 0 65px;

        &--top {
          width: 120px;
          height: 120px;
          position: absolute;
          top: 0;
          left: 50%;
          @include translate(-50%, -50%);

          img {
            @extend %imgdev;
            filter: grayscale(100%);
          }
        }

        &--bottom {
          @extend %itemBottom;
          padding: 80px 45px 45px 45px;
        }

        &--title {
          @extend %itemTitle;
        }

        &--subtitle {
          @extend %itemSubTitle;
        }

        &--content {
          padding-top: 40px;
          font-style: italic;
          color: $titleColor;
          font-size: 19px;
          line-height: 30px;
          @include mobile {
            padding-top: 25px;
            font-size: 14px;
            line-height: 22px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 0 solid transparent;
          border-bottom: 50px solid #f9f9f9;
        }

      }

      .swiper-button-prev {
        left: 0;
      }

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev, .swiper-button-next {
        top: 50%;
        width: 20px;
        height: 20px;
        margin: 0;
        transform: translateY(-50%);
        filter: grayscale(100%);

        &:focus {
          outline: none;
        }
      }

      .section__template--header {
        text-align: center;
      }

      .section__template--content {
        padding: 0 30px;
        position: relative;

        .swiper-container {

        }

      }
    }

    &__listPostGrid {
      max-width: 1640px;
      box-sizing: border-box;

      .section__template--subHeader {
        @extend %itemSubHeader;
      }

      .section__template--content {
        .listPostGrid {
          display: grid;
          grid-gap: 30px;
          grid-template-areas:
              "gr-1 gr-1 gr-1 gr-1 gr-1 gr-1 gr-2 gr-2 gr-2 gr-2 gr-2 gr-2"
              "gr-1 gr-1 gr-1 gr-1 gr-1 gr-1 gr-3 gr-3 gr-3 gr-3 gr-3 gr-3"
              "gr-4  gr-4 gr-4 gr-4 gr-5 gr-5 gr-5 gr-5 gr-6 gr-6 gr-6 gr-6"
              " gr-7 gr-7 gr-7 gr-7 gr-8 gr-8 gr-8 gr-8 gr-9 gr-9 gr-9 gr-9";
          grid-auto-rows: 330px;

          @include desktopSmall {
            grid-template-areas:
              "gr-1 gr-1 gr-1 gr-1 gr-1 gr-1 gr-2 gr-2 gr-2 gr-2 gr-2 gr-2"
              "gr-1 gr-1 gr-1 gr-1 gr-1 gr-1 gr-3 gr-3 gr-3 gr-3 gr-3 gr-3"
              "gr-4  gr-4 gr-4 gr-4 gr-4 gr-4 gr-5 gr-5 gr-5 gr-5 gr-5 gr-5"
              " gr-6 gr-6 gr-6 gr-6 gr-6 gr-6 gr-7 gr-7 gr-7 gr-7 gr-7 gr-7"
              " gr-8 gr-8 gr-8 gr-8 gr-8 gr-8 gr-9 gr-9 gr-9 gr-9 gr-9 gr-9";
          }
          @include tabletLarge {
            display: flex;
            flex-wrap: wrap;
          }

          @for $i from 1 through 12 {

            // for each $col_#{i}
            .#{itemPost}-#{$i} {
              grid-area: gr-#{$i}
            }
          }

          .itemPost {
            background: $titleColor;
            position: relative;
            width: 100%;
            @extend %d-flex;
            flex-wrap: wrap;
            border-radius: 0 0 65px;
            //overflow: hidden;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 0;
              height: 0;
              border-left: 50px solid transparent;
              border-right: 0 solid transparent;
              border-bottom: 50px solid #f9f9f9;

            }

            &__pic {
              @include flex-width(50%);
              display: block;
              box-sizing: border-box;


              img {
                @extend %imgdev;
              }
            }

            &__content {
              padding: 25px 35px;
              color: #fff;
              @include flex-width(50%);
              box-sizing: border-box;


              &--category {
                font-size: 30px;
                text-decoration: none;
                color: $subTitleColor;
                font-family: "Marine-Bold";
                margin-bottom: 32px;
                display: block;
              }

              &--title {
                font-size: 23px;
                line-height: 35px;
                font-family: "Marine-Light";

                span {
                  font-family: "Marine-Bold";
                }

                height: 105px;
                overflow: hidden;

                @include mobile {
                  height: auto;
                  overflow: hidden;
                }
              }

              &--readmore {
                color: #fff;
                font-size: 23px;
                text-decoration: none;
                font-family: "Marine-Light";
                margin-top: 20px;
                display: block;
                line-height: 1.15;

                &:after {
                  content: '›';
                  padding-left: 7px;
                }

                &:hover {
                  color: $subTitleColor;
                }
              }
            }

            &:nth-child(n + 4) {
              .itemPost__pic {
                @include flex-width(40%);
              }

              .itemPost__content {
                @include flex-width(60%);
              }
            }

            &:first-child {
              .itemPost__pic {
                @include flex-width(100%);
                max-height: 70%;
              }

              .itemPost__content {
                @include flex-width(100%);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
                background: $titleColor;
                border-radius: 0 0 65px;

                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  width: 0;
                  height: 0;
                  border-left: 50px solid transparent;
                  border-right: 0 solid transparent;
                  border-bottom: 50px solid #f9f9f9;

                }
              }
            }

            @include tabletLarge {
              &:first-child {
                .itemPost__pic {
                  @include flex-width(100%);
                }

                .itemPost__content {
                  @include flex-width(100%);
                  position: static;
                  width: 100%;
                  height: auto;
                  background: $titleColor;
                }
              }
              &:nth-child(n + 4) {
                .itemPost__pic {
                  @include flex-width(50%);
                }

                .itemPost__content {
                  @include flex-width(50%);
                }
              }

            }
            @include mobile {

              .itemPost__pic {
                @include flex-width(100%);
              }

              .itemPost__content {
                @include flex-width(100%);
              }
              &:nth-child(n + 4) {
                .itemPost__pic {
                  @include flex-width(100%);
                }

                .itemPost__content {
                  @include flex-width(100%);
                }
              }
            }
          }

        }
      }
    }
  }
}
